// Ajustes

.header
  .menus
    .menu
      &__nav
        .tablero
          max-width: 9rem
          max-height: 9rem
          display: grid
          grid-template-columns: repeat(2, 1fr)
          grid-template-rows: repeat(2, 1fr)
          padding: .5rem
        .casilla
          margin: .2rem
          @include cuadrado(4rem)
        .fichas
          display: flex
          position: relative
          height: 10rem
          &--negras
            width: 50%
            background-color: $color-gris
            margin-right: .5rem
            border-radius: .5rem
            &-texto
              color: $color-negro
              font-weight: bold
          &--blancas
            width: 50%
            background-color: $color-gris
            margin-left: .5rem
            border-radius: .5rem
            &-texto
              color: $color-blanco
              font-weight: bold
          &-opciones
            display: flex
            justify-content: center
            width: 100%
            list-style: none
            padding: 0
          &-opcion
            @include cuadrado(3.5rem)
            margin: .5rem
            background-position: center