// Ajustes

.header
  .menus
    .menu
      &__nav
        .fichas
          display: flex
          position: relative
          height: 10rem
          &--negras
            width: 50%
            background-color: $color-gris
            margin-right: .5rem
            border-radius: .5rem
            &-texto
              color: $color-negro
              font-weight: bold
          &--blancas
            width: 50%
            background-color: $color-gris
            margin-left: .5rem
            border-radius: .5rem
            &-texto
              color: $color-blanco
              font-weight: bold
          &-opciones
            display: flex
            justify-content: center
            width: 100%
            list-style: none
            padding: 0
          &-opcion
            @include cuadrado(3.5rem)
            margin: .5rem
            background-position: center