
// Ajuste general
.ficha
  @include cuadrado(100%)
  background:
    repeat: no-repeat
    size: $tamanyp-ficha-tablet
    position: .2rem .3rem

// Diseños
.classic
  &__ficha
    &--negra
      background-image: url("../img/fichas/classic-blanca.png")
    &--blanca
      background-image: url("../img/fichas/classic-negra.png")