// Estilos generales

/// Tipografias

h1, h2, h3, h4, h5, h6
  font-family: Roboto-j
  font-weight: bold

p
  font-family: Roboto-j
  font-weight: normal

a
  text-decoration: none
  font-family: Roboto-j
  font-weight: normal


// Diseños

// Tableros
.classic
  &__tablero
    background-color: $color-classic
  &__casilla
    background-color: $color-classic-casilla
    box-shadow: inset 3px 3px 1px transparentize($color-negro, 0.6)
    @include cuadrado(90%)
  &__miniatura
    background-image: url("../img/tablero/classic-tablero.png")

.simple
  &__tablero
    background-color: $color-classic
  &__casilla
    background-color: $color-classic-casilla
    box-shadow: inset 3px 3px 1px transparentize($color-negro, 0.6)
    @include cuadrado(90%)

/// Fichas
.classic
  &__ficha
    &--negra
      background-image: url("../img/fichas/classic-negra.png")
    &--blanca
      background-image: url("../img/fichas/classic-blanca.png")

.simple
  &__ficha
    &--negra
      background-image: url("../img/fichas/classic-negra.png")
    &--blanca
      background-image: url("../img/fichas/classic-blanca.png")